#page_intro h1,
#popstats .popstat .stat,
#indicators .indicator h2 {
	color: orange;
}

#at_a_glance,
#popstats .popstat .label,
#popstats .popstat:hover {
	background-color: orange;
}

/*=========================================================*/
#popstats .popstat .explainer {
	color: moccasin;
}

#popstats .popstat:hover .label {
	background-color: moccasin;
}

#popstats .popstat {
	border-color: moccasin;
}

/*=========================================================*/
#page_intro h1 {
	border-color: #FFEEDD;
}

/*=========================================================*/
#site_nav .dropdown.k-12-education,
#site_nav .dropdown.k-12-education .dropdown-content a {
	background-color: crimson;
}
#site_nav .dropdown.k-12-education:hover .dropbtn,
#site_nav .dropdown.k-12-education .dropdown-content a:hover {
	background-color: lightcoral;
}

#site_nav .dropdown.higher-education,
#site_nav .dropdown.higher-education .dropdown-content a {
	background-color: #351c4d;
}
#site_nav .dropdown.higher-education:hover .dropbtn,
#site_nav .dropdown.higher-education .dropdown-content a:hover {
	background-color: #765285;
}

#site_nav .dropdown.workforce,
#site_nav .dropdown.workforce .dropdown-content a {
	background-color: orange;
}
#site_nav .dropdown.workforce:hover .dropbtn,
#site_nav .dropdown.workforce .dropdown-content a:hover {
	background-color: moccasin;
}