{% load mathfilters %}
<html>
<head>
	<title>{{ title_element }}</title>

	{% load static %}
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900|Open+Sans" />
	<link rel="stylesheet" type="text/css" href="{% static 'categories/style.css' %}">
</head>

<body id={% if is_home %}homepage{% else %}nothomepage{% endif %}>
	<section id='site_header'>
		<div id='site_title'><a href='/'>RI Skills & Jobs</a></div>
		<ul id='site_nav'>
			{% for navcat in categories %}
				<li{% if navcat.id == category.id %} class=current {% endif %}>
					<a href='/{{ navcat.slug }}'>{{ navcat.navigation_name }}</a>
				</li>
			{% endfor %}
		</ul>
	</section>

	<section id='page_header' style='background-image: url({{ category.category_page_image.url }}); background-position-y: {{category.category_page_image_offset }}%;'><h1>{{ header_text }}</h1></section>

<!--
	<section id='page_intro'>
		<h1>{{category.intro_header}}</h1>		
		<div class='text'>{{category.intro_text | safe}}</div> 
	</section>
-->
	{% if all_questions %}
		<section id=indicators>
		{% for question in all_questions %}
			<section class=indicator>
				<h2><a id='q{{ question.id }}'></a>{{ question.question }}</h2>

				<div class=text>{{ question.text | safe }}</div>
				<div class=dashboard style='padding-bottom: calc({{ question.aspect_ratio_height|div:question.aspect_ratio_width|mul:100 }}% + 55px);'>{{ question.dashboard_embed | safe }}</div>
			</section>
		{% endfor %}
		</section>

	{% else %}
		<p>No indicators to show in this category.</p>

	{% endif %}

	<section id='site_footer'>Footer stuff goes here</section>
</body>
